#introcontainer{
    background-image: url("img/porta.jpg");
}

#entratacontainer{
    background-image: url("img/entrata.png");
}

#salacontainer{
    background-image: url("img/sala.jpg");
}

.fullscreen{
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: beige;
}

#bussa{
   margin-top: 75vh;
   width: 45%;
}

#entrataoptionscontainer {
    margin-top : 70vh;
    width: 65%;
}

#bigliettocontainer {
    margin-top: 15vh;
    margin-left: 42vw;
    width: 115px;
    height: 70px;
}

#biglietto {
    background-image: url("img/biglietto.jpg");
    background-position: center;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#regalocontainer {
    margin-top: 32vh;
    margin-left: 60vw;
    width: 90px;
    height: 90px;
}

#regalo {
    background-image: url("img/regalo.jpg");
    background-position: center;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#salaoptionscontainer {
    margin-top : 50vh;
    width: 65%;
}

#cameracontainer{
    background-image: url("img/camera.jpg");
}